@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f8f9fa;
}

@variants hover {
    .shadow-up {
        box-shadow: 0px 15px 20px rgba(25, 120, 243, 0.4);
        transform: translateY(-7px);
    }
}

.strand-button {
    @apply text-3xl;
    @apply w-64;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
